
.menu {
    background-color: #333;
    color: #fff;
    height: 50px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 10px;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .menu ul li a:hover {
    background-color: #555;
  }
  .menu ul li a.router-link-active {
    font-weight: bold;
  }
  
  
  .menu ul li button {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border-style: none;
  }
  
  .menu ul li button:hover {
    background-color: #555;
  }
  .menu ul li button.router-link-active {
    font-weight: bold;
  }
.logo {
    background-image: url('logo-deign-1.png'); /* Set the background image */
    background-size: contain; /* Adjust the background size */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    width: 250px; /* Adjust the width of the logo */
    height: 150px; /* Adjust the height of the logo */
    position: absolute; /* Position the logo absolutely */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
  }
  .bg{
    background-image: url("deign1.png");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  
  }
  .container {
    position: relative;
    max-width: 1000px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 100%;
  
  }
  
    .input{
      font-family:'Montserrat';
      font-size: larger;
      margin-bottom: 80px;
    }
  
.title{
    text-align: center;
    font-family: 'Montserrat';
    color: green;
    padding-top: 30px;
    margin-bottom: 30px;
}

.sub-btn{
    margin-top: 10px;
    float: inline-end;
    padding: 10px;
  width:80px;
  border: solid 1px var(--primary-color);
  /* background: var(--primary-color); */
  background:green;
  color: white;
  border-radius: 8px;
}
.sub-btn:hover{
    background-color: lightgreen;
}

